body {
        margin: 0;
        height: 90vh;
        background-color:#F2F0F0;
}
a{
        text-decoration: none;
}
header {
        width: 100%;
        height: 75px;
        background-image: linear-gradient(to top,#E1E0B0 ,#F7FCB3);
}
h1 {
        font-family: 'Monoton', cursive;
        font-size: 38px;
        text-transform: uppercase;
        color:#97190A;
        margin: 0;
        padding-top: 10px;
        text-align: center;
}
span {
        display: inline-block;
        width: 100%;
        text-align: center;
}
#last_minute {
        position: absolute;
        top: 6px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: lowercase;
        letter-spacing: 1em;
        opacity: .3;
}
#for_kids{
        position: absolute;
        top: 40px;
        font-family: 'Homemade Apple', cursive;
        color: rgb(42, 41, 88);
        text-shadow: 3px, 3px, darkblue;
        font-size: 30px;
        font-style: italic;
        text-transform: lowercase;
}
main {
        background-color:#F2F0F0;
}
h3 {
        margin: 0;
        font-family: Skia;
}
h3 p {
        font-size: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 200; 
        letter-spacing: 1px;
}
.background {
        height: 246px;      
}
.top {
        background-image: url(assets/kids_dressed/rain_kid.jpg);
        background-size: cover;
}
.middle {
        background-image: url(assets/kids_dressed/sun_kid.jpg);
        background-size: cover;
}
.bottom {
        background-image: url(assets/kids_dressed/snow_kid.jpg);
        background-size: cover;
}
.user_input {
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 160px;
}
input {
        height: 50px;
        width: 144px;
        border: black 1px solid;
        border-radius: 5%;
        text-align: center;
}
button {
        background-color: grey;
        border: black 1px solid;
        border-radius: 5%;
        height: 54px;
        width: 147px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
}
.hide {
        margin-top: -9999px;
}
.weather {
        position: absolute;
        left: -9999px;
        padding: 4% 0 0 4%;
        top: 9%;
        width: 100%;
        height: 300px;
}
.weather p {
        margin: 0;
        font-family: Skia;
        font-weight: light;
}
.dress {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
}
.dress {
        position: absolute;
        left: -9999px;
        top: 25%;
        margin-bottom: 20px;
        width: 100%;
        height: 800px;
}
.dress img {
        text-align: center;
        height: 60%;
        margin: 15% auto;
}
.show {
        left: 0;
        transition: 1s;
}
.image-container {
        width: 175px;
        height: 175px;
        margin: 1%;
        background-color: white;
        box-shadow: 0 3px 6px;
/* ===== keeps img centered ==== */
        text-align: center;
}

/* MEDIA QUERIES */
/* ====== Tablet ======== */
@media only screen and (min-width: 600px) {
        header {
                height: 120px;
        }
        h1 {
                font-size: 75px;
                color: #97190A;
                margin: 0;
                padding-top: 7px;
                text-align: center;
        }
        span {
                display: inline-block;
                width: 100%;
                text-align: center;
        }
        #last_minute {
                top: 0;
                letter-spacing: .5em;
                font-size: 30px;
        }
        #for_kids{
                position: absolute;
                top: 70px;
                font-size: 45px;
        }
        .user_input {
                padding-top: 300px;
        }
        input {
                height: 80px;
                width: 280px;
                font-size: 25px;
        }
        button {
                height: 80px;
                width: 280px;
                font-size: 30px;
        }
        .background {
                height: 452px;      
        }
        .bottom {
                display: none;
        }
        .weather {
                padding-top: 60px;
                font-size: 28px;
        }
        .weather p {
                line-height: 30px;
        }
        .dress {
                top: 30%;
                height: 550px;
                padding-top: 3%;
        }
        .dress img {
                text-align: center;
                height: 60%;
                margin: 15% auto;
        }
        .image-container {
        width: 220px;
        height: 220px;
        margin: 1%;
        }
}
/* ====== Desktop ======== */
@media only screen and (min-width: 992px) {
        .background {
                min-height: 100vh;
        } 
        .middle {
                display: none;
        }
        .bottom {
                display: none;
        }
        .weather {
                top: 130px;
                padding-top: 0;
                font-size: 28px;
        }
        .weather p {
                line-height: 30px;
        }
        .image-container {
                width: 180px;
                height: 180px;
                margin: 1%;
        }
        .dress {
                        top: 35%;
                        margin-bottom: 20px;
                        width: 100%;
                        height: 800px;
                        padding-top: 3%;
        }
        .dress img {
                        text-align: center;
                        height: 60%;
                        margin: 15% auto;
        }        

 }              
 @media only screen and (max-width: 320px) {
         header {
                 height: 50px;
         }
        h1 {
                font-size: 28px;
                color: #97190A;
                margin: 0;
                padding-top: 7px;
                text-align: center;
        }
        #last_minute {
                top: 0;
                letter-spacing: .5em;
                font-size: 16px;
        }
        #for_kids{
                position: absolute;
                top: 30px;
                font-size: 20px;
        }
        .background {
                height: 173px;
        }
        .user_input {
                padding-top: 120px;
        }
        input {
                height: 30px;
                width: 124px;
                border: black 1px solid;
                border-radius: 5%;
                text-align: center;
        }
        button {
                height: 34px;
                width: 127px;
                font-size: 15px;
        }
        .image-container {
                width: 100px;
                height: 100px;
                margin: 1%;
        }
        .dress {
                top: 28%;
        }
        .weather {
                font-size: 14px;
        }
 }